body {
	/*estilo general de la página*/
	font-family: "Be Vietnam Pro", sans-serif;
	position: relative;
}
/*estilos header:*/
header {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
	margin-left: 100px;
	margin-right: 165px;
}
.nav_menu ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: 500;
	font-size: 13px;
	color: #242e52;
}
.nav_menu li {
	padding: 0px 20px 0px 20px;
}
*.button {
	background-color: #f3603b;
	border-radius: 50px;
	border: none;
	padding: 15px;
	width: 134px;
	height: 44px;
	font-size: 13.18px;
	color: #ffffff;
	box-shadow: 0px 4px 7px 0px #00000040;
}
*.button:hover {
	background-color: #00000040;
}
/*estilos main*/
main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 100px;
	margin-left: 165px;
	margin-right: 165px;
}
.div_one_main {
	width: 439px;
	height: 386px;
}
.div_one_main h1 {
	font-weight: 700;
	font-size: 58px;
	line-height: 66.47px;
	color: #232c50;
}
*.text {
	/*párrafo del main*/
	font-weight: 500;
	font-size: 16.56px;
	line-height: 26.01px;
	color: #000000;
}
.div_two_main {
	/*imágenes del main*/
	width: 540px;
	height: 485px;
}
/*estilos section*/
section {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	margin-left: 165px;
	margin-right: 165px;
	height: 500px;
}
.div_one_section {
	width: 433px;
	height: 221px;
}
.div_one_section h3 {
	font-weight: 700;
	font-size: 36px;
	line-height: 41.26px;
	color: #232851;
}
.div_two_section {
	display: flex;
	flex-direction: column;
	width: 437px;
	height: 43px;
}
.subtitle_1 {
	font-weight: 700;
	font-size: 16px;
	line-height: 23.38px;
	color: #323851;
}
.subtitle_1::before {
	content: "01";
	color: #ffffff;
	background-color: #f3603b;
	border-radius: 30px;
	padding: 10px 25px 10px 25px;
	width: 69px;
	height: 43px;
}
.subtitle_2 {
	font-weight: 700;
	font-size: 16px;
	line-height: 23.38px;
	color: #323851;
}
.subtitle_2::before {
	content: "02";
	color: #ffffff;
	background-color: #f3603b;
	border-radius: 30px;
	padding: 10px 25px 10px 25px;
	width: 69px;
	height: 43px;
}
.subtitle_3 {
	font-weight: 700;
	font-size: 16px;
	line-height: 23.38px;
	color: #323851;
}
.subtitle_3::before {
	content: "03";
	color: #ffffff;
	background-color: #f3603b;
	border-radius: 30px;
	padding: 10px 25px 10px 25px;
	width: 69px;
	height: 43px;
}
.text_two {
	font-weight: 500;
	font-size: 16.3px;
	line-height: 25.52px;
	color: #b3b2b7;
}
/*estilos section coments*/
.coments {
	display: flex;
	flex-direction: column;
	width: 1298px;
	height: 478px;
	left: 71px;
	top: 1510px;
}
.coments h2 {
	text-align: center;
	font-size: 39.21px;
	font-weight: 700;
	line-height: 61.41px;
	color: #242e53;
}
.profile_coments {
	display: flex;
	flex-direction: row;
}
.div_profile_unique {
	background-color: #fafafa;
}
.button {
	text-align: center;
}
footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}
